.nav-top{
    background-color: rgb(65, 1, 65) !important;
}
.nav-link{
    color: white !important;
}
footer{
    background-color: rgb(65, 1, 65) !important;
    color: white !important;
    text-align: center !important;
}
.carousel-caption{
    background-color: rgba(27, 21, 21, 0.377) !important;
}
.divisao{
    background-color: rgb(65, 1, 65) !important;
    text-align: center !important;
    color: white !important;
    padding: 2em !important;
    margin-bottom: 5em !important;
}